{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <head>
    <title>订票页面</title>
        <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body background="D:\django_projects\booking_system\mysite_login\\templates\photo.jpg" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">

    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">中国铁路 60321</h1>
            <p style="text-align: center">简易的铁路车票管理系统，制作者：Derek</p>
            <h4 style="text-align: center">当前模式：管理员</h4>
        </div>


        <h2 style="text-align: center">请调整列车班次（仅限管理员操作）</h2>

        <form action="{% url 'add' %}" method="post" >
              {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="num">车次</label>
                    {{ add_form.num }}
<!--                    <input class="form-control">-->
                    {% for error in add_form.num.errors %}
                         <h6 style="color: red"><strong>{{ error|escape }}</strong></h6>
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    <label for="name">出发站-到达站</label>
                    {{ add_form.name }}
<!--                    <input class="form-control">-->
                    {% for error in add_form.name.errors %}
                         <h6 style="color: red"><strong>{{ error|escape }}</strong></h6>
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    <label for="time">出发时间</label>
                    {{ add_form.time }}
<!--                    <input class="form-control" >-->
                    {% for error in add_form.time.errors %}
                         <h6 style="color: red"><strong>{{ error|escape }}</strong></h6>
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    <label for="seats">座位数量</label>
                    {{ add_form.seats }}
<!--                    <input class="form-control" >-->
                    {% for error in add_form.seats.errors %}
                         <h6 style="color: red"><strong>{{ error|escape }}</strong></h6>
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    <br>
                    <button type="submit" name="adding" class="btn btn-default">添加</button>
                    <h6 style="color: red"><strong>{{ adding_message }}</strong></h6>
                </div>
            </div>
        </form>
        <br><br><br><br>
        <form action="{% url 'delete' %}" method="post" >
              {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="num">车次</label>
                    {{ delete_form.num }}
<!--                    <input class="form-control">-->
                    {% for error in delete_form.num.errors %}
                         <h6 style="color: red"><strong>{{ error|escape }}</strong></h6>
                    {% endfor %}
                </div>
                <div class="col-xs-2">
                    <br>
                    <button type="submit" name="delete" class="btn btn-default">删除</button>
                    <h6 style="color: red"><strong>{{ delete_message }}</strong></h6>
                </div>
            </div>
        </form>

        <br><br><br><br>
        <h2 style="text-align: center">当前车票信息</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>车次</th>
                <th>出发站-到达站</th>
                <th>出发时间</th>
                <th>剩余座位</th>
            </tr>
            </thead>
            <tbody>
            {% for train in trains %}
            <tr>
                <td>{{ train.num }}</td>
                <td>{{ train.name }}</td>
                <td>{{ train.time }}</td>
                <td>{{ train.seats }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    {% else %}

    <h1>管理请登录！</h1>

    {% endif %}

{% endblock %}

